@tailwind base;
@tailwind components;
@tailwind utilities;


/* Floating and Rotating Animation */
@keyframes float-rotate {
    0% {
      transform: translateY(0) rotate(0deg) scale(1);
      opacity: 0.8;
    }
    25% {
      transform: translateY(-20px) rotate(15deg) scale(1.2);
      opacity: 0.6;
    }
    50% {
      transform: translateY(0) rotate(30deg) scale(1);
      opacity: 0.8;
    }
    75% {
      transform: translateY(20px) rotate(15deg) scale(0.8);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0) rotate(0deg) scale(1);
      opacity: 0.8;
    }
  }
  
  /* Adding horizontal movement to the float */
  @keyframes float-horizontal {
    0% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
    50% {
      transform: translateX(20px) translateY(-20px) rotate(15deg);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
  }
  
  /* Fade-in and scale-out effect */
  @keyframes fade-scale {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* Applying the combined animation */
  .animate-float-rotate {
    animation: float-rotate ease-in-out infinite,
      float-horizontal ease-in-out infinite;
    animation-timing-function: ease-in-out;
    will-change: transform, opacity;
  }
  